# Python Programming basics

## Types and Functions

Extend the function to take an optional 3rd argument.

Extend the function to take another optional flag parameter and add only if it is true

In [ ]:
def add(x, y):
    return x+y

def add(x, y, z):
  pass
  return x+y+z

def add(x, y, z, flag=None):
  if flag:
    return x+y+z
  pass
    #ADD YOUR CODE HERE


#print(add())

Assign a function to a variable 'a' and print the output

In [ ]:
a = add(2,3,6,True)
print(a)

11

## Iterations in python

Create a list of 5 elements

Square every item in the list using a loop inside the array index

Show how to use a iterator. First, use enumerate to create a new tuple from above list

In [ ]:
#use of a iterator
#iterator- returns numbers that starts with 25 and each and every time it is passed it gets squared.

class MyInit:    #for initialization
  def __init__(self,val):
    self.val=val
    
  def __iter__(self):
    self.x=25
    return self

  def __next__(self):  # does the operation
    x = self.x
    if x>self.val:
        raise StopIteration
    self.x=x+1
    
    return x*x

obj1 = MyInit(30)
itr = iter(obj1)
a=enumerate(itr)
print(list(a))
for i in itr:
    print(i)
# print(next(itr))

[(0, 625), (1, 676), (2, 729), (3, 784), (4, 841), (5, 900)]
625
676
729
784
841
900

In [ ]:
#First, use enumerate to create a new tuple from above list
listSequence = ["eat","sleep","repeat"] 

tup=() 
tup=enumerate(listSequence)
#at first Enumerating thro' the list and then iterating thro' the loop with for loop.

for i in tup:
    print(i)
print(tup)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
<enumerate object at 0x00000186FB076868>

Now use a zip iterator to do the same.

Now state the differences between a zip and enumerate iterator.

Python`enumerate()` and `zip()` are built-in functions that can be used on sequences.

`enumerate()` function can be use to iterate over indices and items of a list.

`zip()` function make an iterator that aggregates elements from each of the iterables. In simple words it can be used to iterate over two or more lists in parallel.

## Strings in Python

Open the file poem.txt and print lenght of each line.

Find sum of each line, mean, median and standard deviation of all lines in the file.

Count the number of words in the file

Print the first 1000 characters from poem.txt.

Print the 3rd to 5th words from the file.

In [ ]:
with open(r'E:\python-lab-1-narenreddy786-main\poem.txt','r') as file: 
   
    # reading each line   
    print("length of each lines")
    c=0
    sum1=0
    
    mean=0
    median=0
    sd=0
    linelen=[]
    for line in file:
        linelen.append(len(line))
        sum1=sum1+len(line)
        c=c+1
    print(linelen)
   
    mean=sum1/c
    median=linelen[c//2]
    sumsq=0
    for i in linelen:
        sumsq=sumsq+(i-mean)*(i-mean)
    sd=(sumsq/c)**1/2
    
    print("sum:",sum1)
    print("mean:",mean)
    print("median:",median)
    print("standard deviation:",sd)
    
        
#         print(line)

length of each lines

Get every third word between the second and the 15th words from poem.txt.

Print the last word from the file and change the second last characted in the string to 'g'.

State if the above operation completed successfully. State reasons

# Find types of Python variables and functions

Find what are the types of the following and state if they are mutable of immutable

In [ ]:
print(type(None))
print(type(1))
print(type(1.0))
# print(type(add))
print(type((1,'a',3,'b')))
print(type([1,'a',3,'b']))

<class 'NoneType'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>

Append new elements at the end of a list

Loop through each element of the list

Use a indexing operator

In [ ]:
#indexing operator
str_indexing = ""
#print(lastchar)

a=[1,2,3]
b=[10,20,30]
c="hello how are you"
var=c.split()
print(var[1],var[len(var)-1])
a.append(4)
for i in a:
    print(i)
print()
print(a[0])
print()
print(a*2)
print(2 in a)
print(a+b)
print(c[:3])
print(c[3:])

how you
1
2
3
4

1

[1, 2, 3, 4, 1, 2, 3, 4]
True
[1, 2, 3, 4, 10, 20, 30]
hel
lo how are you

Concatenate two lists

Use * to repeat lists

Use the in operator to check if something is in a list

Initialize a string and slice the first 1, 2 and 3 characters. Then from 3rd to end.

Take a first name and a last name and then concatenate the last name with 3 times the first name and show result.

Take a string with four words. Use the split function to display the second and the last words

Concatenate a number with a string. Update following:

## Dictionaries associated with lists

Create a list of keys and values

In [ ]:
x={}
x['Prithwish'] = None
x['key1']="value1"
x['key2']="value2"
print("keys:")
for i in x:
    print(i)
print()
print("values:")
for i in x.values():
    print(i)
print(x)

keys:
Prithwish
key1
key2

values:
None
value1
value2
{'Prithwish': None, 'key1': 'value1', 'key2': 'value2'}

Iterate over all the keys

Iterate over all the values

Iterate over all the key-value pairs in the list

Unpack the following sequence into different variables

In [ ]:
('Prithwish','IIITG','prithwish.sen@iiitg','CSE')

Use Python's in-built methods for string formatting

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Prithwish'}

sales_statement = '{} got {} item(s) at a cost of {} each for a total of {}'.format(sales_record['person'], sales_record['num_items'], sales_record['price'],sales_record['num_items']*sales_record['price'])
print(sales_statement)

Prithwish got 4 item(s) at a cost of 3.24 each for a total of 12.96

Take a list of 10 elements and convert into json using  json library. Demonstrate use of loads and dumps

# Python objects and functions

Take the following code:

In [ ]:
class students:
    dept = "Department of CSE"
    def assign_name(self, n):
        self.name = n
    def assign_location(self, l):
        self.location = l

Create a object of the class above. Set name and location of your choice.

Format accordingly and print in a manner so we see something like : "Dip Sankar lives in Guwahati, Assam, India and works in the Department of CSE". The name and location should be of your choice. Use 1 print only

In [ ]:
obj = students()
obj.assign_name("Dip Sankar")
obj.assign_location("Guwahati")

sentence = '{} lives in {} and is a student in the {}'.format(obj.name,obj.location,obj.dept)
print(sentence)

Dip Sankar lives in Guwahati and is a student in the Department of CSE

Create two lists of 5 elements each. Map the min function to the lists using map(). Print the minimum object.

Iterate through that object and print the elements.

# Working with CSV

Let's import a file with fuel economy data

In [ ]:
import csv
rows=[]
with open(r'E:\python-lab-1-narenreddy786-main\mpg.csv','r') as csv_file:
    csv_reader = csv.DictReader(csv_file)
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'Column names are {", ".join(row)}')
            line_count += 1
    print(row)

Column names are sno, manufacturer, model, displ, year, cyl, trans, drv, cty, hwy, fl, class
{'sno': '234', 'manufacturer': 'volkswagen', 'model': 'passat', 'displ': '3.6', 'year': '2008', 'cyl': '6', 'trans': 'auto(s6)', 'drv': 'f', 'cty': '17', 'hwy': '26', 'fl': 'p', 'class': 'midsize'}

Find out how many items are there in the dictionary

Find the column names with keys

Find the average cty fuel economy across all cars. All values in the dictionaries are strings.

Find the average hwy fuel economy across all cars

Use set to return the unique values for the number of cylinders the cars.

In [ ]:
cylinders = set(d['cyl'])

Group the cars by number of cylinder, and finding the average cty mpg for each group.

In [ ]:
MpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 
    typecount = 
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c:      

MpgByCyl.sort(key=lambda)
MpgByCyl

[('4', 21.012345679012345),
 ('5', 20.5),
 ('6', 16.21518987341772),
 ('8', 12.571428571428571)]

Return the unique values for the class types in our dataset using set.

In [ ]:
vehicleclass = set(d['class'] for d in mpg)

Find average miles per gallon in the highway for each class of vehicles

In [ ]:
MileageByClass = []

for t in : # iterate over all the vehicle classes
    sumpg = 0
    classCount = 0
    for d in mpg: 
        if d['class'] == t:                 
    MileageByClass.append((t, )) 

MileageByClass.sort(key=lambda x: x[1])

SyntaxError: invalid syntax (<ipython-input-47-4663a6fbfe12>, line 3)